<div class="container mt-5 mb-5 pl-5 ">
	<div class="row">
	 <form [formGroup]="form">
<div class="form-group">
    <label for="dateOfBirth">Date Of Birth</label>
    <input class="form-control"  type="text" [mask]="'dateOfBirth'"  formControlName="dateOfBirth" id="dateOfBirth"> 
  <label for="PhoneNumber">Phone Number</label>
  <input class="form-control"  type="text" [mask]="'phone'"  formControlName="phone" id="phone"> 
  <label for="creditCard">Credit Card</label>
  <input class="form-control"  type="text" [mask]="'creditcard'"  formControlName="creditcard" id="creditcard"> 
</div>
 </form>
	</div>
</div>